.glyphicon.glyphicon-shopping-cart {

	font-size: 18px;
	color: grey;
	padding: 30px 15px;
}

#footer {
	background: none repeat scroll 0 0 white;
    height: 100px;
    margin: auto;
    width: 400px;
}


#basic-nav-dropdown{
	position: bottom;
	display: block;
	padding: 45px 15px;
	
}


body {
	-webkit-text-size-adjust:none;
}



.photoshape {
	margin-top: 40px;
}

.mynamesite {
	font-family: Lucida Bright,Georgia,serif;
	color: #6495ED;
	padding-top: 150px;

	

}

.mynamesite h1 {
	text-align: left;
}

/*.navbar-fixed-top {
	float: right;

}*/

.navbar {
	float: right;
	font-size: 20px;
	background: transparent;
	
}


.information {
	background: #FF1493;
	color: white
	
}

.navfooter {
	display: inline;
	float: right;
	padding-top: 10px;

	
}

.navfooter1 {
	border-color: pink;
	color: #FF1493;


}

