.glyphicon.glyphicon-shopping-cart {

	font-size: 18px;
	color: grey;
	padding: 30px 15px;
}

#footer {
	background: none repeat scroll 0 0 white;
    height: 100px;
    margin: auto;
    width: 400px;
}

#buscar {
	float: right;
}

#basic-nav-dropdown{
	position: bottom;
	display: block;
	padding: 45px 15px;
	
}

#itemcarousel {
	float: left;

}

body {
	-webkit-text-size-adjust:none;
}

.div1 {
	background-color: #6A5ACD;
}

